.wrapper {
    background-color: peachpuff;
}

.projects {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.projects div {
    border: 1px solid red;
    margin-bottom: 50px;
    margin-top: 50px;
}

.projects div img {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 0px;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.navigation a {
    margin-left: 10px;
    font-size: 20px;
}

.photosBlocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.photosBlocks span {
    text-align: center;
}

