.wrapper {
    background-color: peachpuff;
}

.projects {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.projects div {
    height: 600px;
    width: 400px;
    border: 1px solid red;
    margin-bottom: 50px;
    margin-top: 50px;
}

.projects div img {
    height: 500px;
    width: 400px;
}

h1 {
    text-align: center;
    margin-top: 0px;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.navigation a {
    margin-left: 10px;
    font-size: 20px;
}

.photosBlocks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photosBlocks span{
    text-align: center;
}

