.slogan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.contacts {
    margin-top: 50px;
    width: 1200px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: floralwhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
}

.sloganTitle {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
    background-color: darkkhaki;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button {
    margin: 0 auto;
    margin-bottom: 15px;
}

.button span {
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 2px;
}
.button span a {
 color: white;
}

