.main {
    height: 100vh;
    background-color: navajowhite;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: floralwhite;
}
.greeting{
    display: flex;
    flex-direction: column;
}
.photo{
    background-color: darkkhaki;
    width:300px;
    height:400px;

}
