.skills {
    background-color: #1f1f20;
    display: flex;
    width: 100%;
    justify-content: center;
}
.container{
    width: 1200px;
}
.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.photosBlocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 150px;
    height: 250px;
}
.descPhotos{
    margin-left: 20px;
}
.projects div img {
    height: 50%;
    width: 50%;
    transform:rotate(45deg);
}

h1 {
    text-align: center;
    margin-top: 0px;
}

@media (max-width: 480px) {
    .photosBlocks{
        width: 150px;
        height: 250px;
        margin-left: 100px;
    }

}