.skills {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: center;

}
.container{
    width: 1200px;
}
.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


.photosBlocks span {
    text-align: center;
    color: white;
}

.photosBlocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 250px;
    height: 300px;

}

.projects div {
    border: 1px solid red;
}

.projects div img {
    height: 50%;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 0px;
}



@media (max-width: 480px) {
    .photosBlocks{
        width:230px;
        height:230px;
    }

}