.skills {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.container {
    width: 1200px;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}

.photosBlocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    flex-direction: column;
}


.projects div img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    transform: rotate(45deg);
}
.projects div{
    margin: 0 auto;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

@media (max-width: 325px) {
    .photosBlocks {
        width:250px;
    }

}
@media (max-width: 250px) {
    .photosBlocks {
        width:170px;
      text-align: center;
    }
    .projects div img {
        width: 80px;
        height: 80px;
    }

}
@media (max-width: 200px) {
    .photosBlocks {
        width:130px;
    }


}




