.navMenu{
    width: 360px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media (max-width: 480px) {
    .navMenu{
        flex-direction: column;
        align-items: center;
    }

}
