.header {
    height: 60px;
    background-color: aqua;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 3;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1200px;
}

@media (max-width: 600px) {
    .container {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .header {
        height: 100px;
    }

    .container {
        width: 100%;
    }
}

