.footer {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;

}
.main a div:hover{
    border: 2px solid darkviolet;
    cursor: pointer;

}

.facebook{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBCF1zFC2ODzamqlTsFSDqb6O7DtumcCV20TCAdexiG5cPghTzJg&s");
    background-size:cover;
    border:2px solid transparent;
}
.twitter{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMiSFJuLWdof__5OlJuSJ8-v8486jvFeSfQTWSIDlkNjy9BpxGrg&s");
    background-size:cover;
    border:2px solid transparent;
}
.vk{
    background-image: url("https://i.pinimg.com/originals/1d/81/0e/1d810eb1d3560a8dec225dc710130af4.png");
    background-size:cover;
    border:2px solid transparent;
}
.instagram{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF7VMQ6hqTXVfqgWlA25UyPEuYm2ndUs0Cbxf_uHlg4CdNJMkr&s");
    background-size:cover;
    border:2px solid transparent;
}
.content {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 7px;
    border-radius: 2px;

}

.acsess {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 7px;
    border-radius: 2px;

}

.main {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 50%;

}

.main div {
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 60px;

}


@media (max-width: 800px) {
    .main div{
        margin: 10px;
    }
    .main{
        width: 200px;
        margin-bottom: 50px;
    }
}


@media (max-width: 200px) {

    .main{
      flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 230px) {

    .acsess{
      margin: 10px;
    }
}


