.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.content {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-direction: column;
    background-color: black;
}

.title {
    display: flex;
    justify-content: center;
    background-color: darkkhaki;
    text-align: center;
    margin: 0 auto;

}

.acsess {
    display: flex;
    justify-content: center;
    background-color: darkkhaki;
    text-align: center;
    margin: 0 auto;

}

.main {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    flex-wrap: wrap;
    width: 100%;

}

.main div {
    border: 1px solid black;
    width: 100px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
}
