html,body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #1f1f20;
  border: 0px solid #1f1f20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
