.contacts {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.formContent {
    display: flex;
    width: 100%;
    border: 1px solid burlywood;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: peachpuff;

}

.form {
    display: flex;
    justify-content: center;
    background-color: lightgoldenrodyellow;
    flex-wrap: wrap;
    width: 100%;


}
.inputs{
    width: 100%;
}

.inputs input {
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
    width: 100%;

}

.inputs textarea {
    height: 50px;
    border-radius: 5px;
}

.titleContacts {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}

button {
    width: 100%;
    height: 30px;
    margin-top: 150px;
    margin-bottom: 80px;
}