.contacts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: black;
}

.formContent {
    display: flex;
    width: 1200px;
    border: 1px solid burlywood;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: peachpuff;

}

.form {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-color: lightgoldenrodyellow;
    flex-wrap: wrap;
    width: 100%;


}
.inputs{
    width: 100%;
}

.inputs input {
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
    width: 100%;

}

.inputs textarea {
    height: 50px;
    border-radius: 5px;
    width: 100%;
}

.titleContacts {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
    font-size: 20px;
}

button {
    width: 100%;
    height: 30px;
    margin-top: 150px;
    margin-bottom: 30px;
    border-radius: 2px;
    background-color: chartreuse;
    color: blue;
}