.contacts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}
.message{
    top: 25px;
    position: absolute;
    color: cyan;
    font-size: 18px;
}

.formContent {
    display: flex;
    width: 1200px;
    flex-direction: column;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    width: 500px;
    text-align: center;

}

.inputs input {
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #1f1f20;
    color: white;
    border: 1px solid darkslategrey;
    padding-left: 3px;
    transition: 500ms;
}

.inputs textarea {
    padding-left: 3px;
    height: 150px;
    border-radius: 5px;
    width: 100%;
    color: white;
    border: 1px solid darkslategrey;
    transition: 500ms;
    background-color: #1f1f20;
}
.inputs input:focus,.inputs textarea:focus{
    border: 1px solid transparent;
}

.titleContacts {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
}

.buttonSubmit {
    display: flex;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    z-index: 0;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 0px;
    background-color: #1F1F20;
    padding: 0px;
}

.buttonSubmit:after {
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    background-color: #e9548d;
    bottom: -2px;
    z-index: -1;
    transition: 500ms
}

.buttonSubmit:hover:after {
    width: 100%;
    height: 30px;
    padding: 5px;
    transition: 500ms
}

@media (max-width: 550px) {
    .inputs {
        width: 350px;

    }

}

@media (max-width: 370px) {
    .inputs {
        width: 250px;
    }

}

@media (max-width: 280px) {
    .inputs {
        width: 200px;

    }

}
@media (max-width: 240px) {
    .inputs {
        width: 150px;

    }

}
@media (max-width: 180px) {
    .inputs {
        width: 90px;

    }

}

